* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
/* ==== THIS CONTAINS THE ENTIRE PAGE CSS===== */

.main-container {
    display: flex;
    flex-direction: column;
}
/* ====THIS CSS IS FOR JUST THE SPONSOR AT THE TOP ====== */
#perscholas-logo {
    position: relative;
    max-height: 100%;
    max-width: 85px;
}
.sponsor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: yellow;
    height: 100px;
}
h5 {
    display: flex;
}
h6 {
    display: flex;
}
/* ===== THIS CSS IS FOR THE BIG IMAGE FIRST ===== */
.bigimage {
    display: flex;
    background: url(https://media.istockphoto.com/photos/running-shoes-picture-id1249496770?b=1&k=20&m=1249496770&s=170667a&w=0&h=_SUv4odBqZIzcXvdK9rqhPBIenbyBspPFiQOSDRi-RI=);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 633px;
}
h1 {
  margin: 15px;
  background-color: white;
  opacity: 75%;
  border: 2px solid black;
}
span {
    border-right: 2px solid black;
}
a {
    text-decoration: none;
}
/* ===== THIS CONTAINS CSS FOR THE FIRST 3 IMGS */
.threeimages {
    display: flex;
    height: 64vh;
}
#image1 {
    background-color: coral;
    background-image: url(https://images.unsplash.com/photo-1460353581641-37baddab0fa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 100%;
}
#image2 {
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#image3 {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1463100099107-aa0980c362e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    height: 50%;
    max-width: 100%;
    align-items: center;
    padding-right: 10px;
    padding-left: 20px;
}
/* ==== THIS IS THE CSS FOR SET OF 4 IMAGES===== */
.fourimages {
    display: flex;
    background-color: chartreuse;
    height: 60vh;
    width: 88%;
}
#image4 {
    display: flex;
    background-color: red;
    height: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
#image5 {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1514989940723-e8e51635b782?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: red;
}
#image6 {
    background-image: url(https://images.unsplash.com/photo-1531310197839-ccf54634509e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    min-width: 237px;
    height: 50%;
}   
#image7 {
    display: 50%;
    display: flex;
    background-color: black;
    color: white;
    height: 50%;
    padding-right: 10px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
#blankspace {
    background-color: white;
    width: 10%;
}
/* ===== THIS IS THE CSS FOR THE FINAL 5 SPACES ===== */
.final5 {
    display: flex;
    background-color: chartreuse;
    height: 50vh;
    width: max-content block;
}
.image8 {
    display: flex;
    font-size: 250%;
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.image9 {
    background-image: url(https://images.unsplash.com/photo-1516478177764-9fe5bd7e9717?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 20%;
}
.image10 {
    background-image: url(https://images.unsplash.com/photo-1574946943172-4800feadfab7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 20%;
}
.image11 {
    background-image: url(https://images.unsplash.com/photo-1556906781-9a412961c28c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 20%;
}
.image12 {
    background-image: url(https://images.unsplash.com/photo-1521093470119-a3acdc43374a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 20%;
}
/* =====THIS IS THE CSS FOR THE NEWSLETTER ===== */
.newsletter {
    display:flex;
    background-color: cyan;
    padding: 40px;
    font-size: 150%;
    align-items: center;
    justify-content: center;
}
/* ==== THIS IS THE CSS FOR THE CONTACT INFO===== */
.contact {
    background-color: magenta;
    display: flex;
    flex-direction: row;
    font-size: 150%;
}
#contact-name {
    background-color: darkorchid;
    width: 25%;
}
#contact-info {
    background-color: darkred;
    width: 25%;
}
li {
    list-style: none;
}
#contact-store {
    background-color: green;
    width: 25%;
}
#contact-social {
    background-color: hotpink;
    width: 25%;
}
/*=====THIS IS THE CSS FOR THE FOOTER (outside of main container)====== */
footer {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    padding: 4vh;
}