* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
/* ==== THIS CONTAINS THE ENTIRE PAGE CSS===== */

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}
#perscholas-logo {
    position: relative;
    height: 85%;
}
.sponsor {
    display: flex;
    background-color: yellow;
    height: 100px;
}
h5 {
    display: flex;
    align-items: center;
    position: sticky;
}
h6 {
    display: flex;
    align-items: center;
    float: none;
}
.bigimage {
    display: flex;
    background: url(https://media.istockphoto.com/photos/young-woman-runner-tying-her-shoes-preparing-for-a-jog-outside-at-picture-id1298108434?b=1&k=20&m=1298108434&s=170667a&w=0&h=6i76GZiEXBkow7bj3827YQwmLn-a1a7XXyogQHqq2jE=);
    background-size: 50%;
    background-repeat: no-repeat;
    /* justify-content: center; */
    border: 1px solid lightblue;
    height: 250px;
}
h1 {
  margin: 15px;
  background-color: white;
  opacity: 75%;
  border: 2px solid black;
}
a {
    text-decoration: none;
}
/* ===== THIS CONTAINS CSS FOR THE FIRST 3 IMGS */
.threeimages {
    display: flex;
    background-color: chartreuse;
    height: 50vh;
}
#image1 {
    background-color: coral;
    padding: 10px;
}
#image2 {
    display: flex;
    background-color: cornflowerblue;
    padding: 10px;
}
#image3 {
    display: flex;
    float:right;
    background-color: crimson;
    padding: 10px;
}
/* ==== THIS IS THE CSS FOR SET OF 4 IMAGES===== */
.fourimages {
    display: flex;
    background-color: chartreuse;
    height: 50vh;
}
#image4 {
    background-color: red;
}
#image5 {
    background-color: blue;
}
#image6 {
    background-color: green;
}
#image7 {
    background-color: yellow;
}
#blankspace {
    background-color: white;
    width: 10%;
}
/* ===== THIS IS THE CSS FOR THE FINAL 5 SPACES ===== */
.final5 {
    display: flex;
    background-color: chartreuse;
    height: 50vh;
}
.image8 {
    background-color: red;
    width: 20%;
}
.image9 {
    background-color: blue;
    width: 20%;
}
.image10 {
    background-color: green;
    width: 20%;
}
.image11 {
    background-color: yellow;
    width: 20%;
}
.image12 {
    background-color: white;
    width: 20%;
}
/* =====THIS IS THE CSS FOR THE NEWSLETTER ===== */
.newsletter {
    background-color: cyan;
    padding: 40px;
}
/* ==== THIS IS THE CSS FOR THE CONTACT INFO===== */
.contact {
    background-color: magenta;
}
/*=====THIS IS THE CSS FOR THE FOOTER ====== */
footer {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    padding: 4vh;
}